/* ---------- main ---------- */
.main .main-icon {
	top: calc(50vh - 150px);
}


/* ---------- list ---------- */
.content .main-icon {
	margin-top: 40px;
}


/* ---------- groups list ---------- */
.groups-header .form-wrap {
	margin-top: 10px;
}
.groups-header input[type=text] {
	width: calc(100% - 30px);
}
.content.groups {
	padding-top: 0;
}
.content.groups .btn-more {
	width: 100%;
	margin: 30px 0;
	background-color: var(--vscode-button-secondaryBackground);
}
.content.groups .btn-more:hover {
	background-color: var(--vscode-button-secondaryHoverBackground);
}

/* ---------- events list ---------- */
.content.events {
	padding-top: 20px;
}
.time-group button {
	min-width: 46px !important;
	background-color: var(--vscode-button-secondaryBackground);
}
.time-group button:hover {
	background-color: var(--vscode-button-secondaryHoverBackground);
}
.time-group button.select{
	color: var(--vscode-list-highlightForeground);
}
.content.events .search-area {
	display: flex;
	position: relative;
	padding: 0 10px 20px 10px;
	margin-bottom: 10px;
}
.content.events .search-area .form-wrap {
	position: relative;
	width: calc(100% - 300px);
}
.content.events .search-area .form-wrap input {
	width: calc(100% - 30px);
}
.content.events .search-area .check-wrap {
	margin: 5px 0 0 10px;
}
.content.events .search-area .check-wrap label {
	margin-left: 5px;
}
.content.events .search-area .result-count {
	position: absolute;
	right: 0;
	padding: 10px 10px 0 0;
	opacity: 0.7;
}

.content.events ul {
	padding: 15px 15px 0 15px;
	margin: 0 0 20px 0;
	border: solid 1px;
	border-color: var(--vscode-list-hoverBackground);
	border-radius: 5px;
}
.content.events ul li {
	margin-bottom: 15px;
}
.content.events ul li .date {
	cursor: pointer;
}
.content.events ul li .date .fa-icon {
	margin: 0 10px 0 0;
	width: 20px;
}
.content.events ul li pre {
	margin-top: 5px;
}
.content.events ul li code {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content.events ul li code.extend {
	overflow: initial;
	text-overflow: initial;
	display: block;
	-webkit-line-clamp: none;
  -webkit-box-orient: none;
}